<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Вход в систему</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/icons.css" rel="stylesheet" type="text/css" />
    <link href="css/login.css" rel="stylesheet" type="text/css" />
</head>
<body class="text-center">
    <main class="form-signin">
        <div class="mb-4"><span class="icon icon-bus-alt-solid"></span></div>
        <h1 class="h1 mb-3 fw-normal">Вход в систему</h1>

        <div th:if="${param.error}" class="alert alert-danger d-flex flex-column justify-content-start text-start">
            <div class="d-flex flex-row align-content-center align-items-center">
                <div class="d-flex flex-column">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                </div>
                <div class="d-flex flex-column fs-5 fw-bold">Ошибка</div>
            </div>
            <div class="d-flex flex-column">
                <p class="pb-2 mb-0">Неверные имя пользователя и пароль</p>
            </div>
        </div>

        <div th:if="${param.logout != null || param.expired != null || param.access != null}" class="alert alert-info d-flex flex-column justify-content-start text-start">
            <div class="d-flex flex-row align-content-center align-items-center">
                <div class="d-flex flex-column">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                </div>
                <div class="d-flex flex-column fs-5 fw-bold">Информация</div>
            </div>
            <div class="d-flex flex-column">
                <p class="pb-2 mb-0" th:if="${param.logout}">Вы вышли из системы</p>
                <p class="pb-2 mb-0" th:if="${param.expired}">Ваша сессия закончилась</p>
                <p class="pb-2 mb-0" th:if="${param.access}">Для продолжения необходимо ввести данные</p>
            </div>
        </div>

        <form th:action="@{/login}" th:object="${vendingSystemUser}" method="post">
            <div class="form-floating mb-3">
                <input required type="text" class="form-control" id="username" name="username" placeholder="Имя пользователя" autofocus autocomplete="off">
                <label for="username">Имя пользователя</label>
            </div>
            <div class="form-floating mb-3">
                <input required type="password" class="form-control" id="password" name="password" autocomplete="off" placeholder="Пароль">
                <label for="password">Пароль</label>
            </div>

<!--            <div class="checkbox mb-3">-->
<!--                <label>-->
<!--                    <input type="checkbox" name="rememberMe" id="rememberMe">-->
<!--                </label>-->
<!--            </div>-->

            <div class="mb-3">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
            </div>

            <div class="mb-3">
                <div class="col-xs-12" style="margin-bottom: 15px;">
                    <span>Нет аккаунта? <a th:href="@{~/register}">Зарегистрироваться</a></span>
                </div>
            </div>

<!--            <div class="mb-3">-->
<!--                <div class="col-xs-12">-->
<!--                    <span><a href="">Восстановить пароль</a></span>-->
<!--                </div>-->
<!--            </div>-->

        </form>

    </main>

</body>
</html>